

body {
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
    /*text-rendering: optimizeLegibility; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;*/
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

/* Structural bigwigs */
#instruction {
    margin: 0;
    padding: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60%;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
}

#editor {
    margin: 0;
    position: absolute;
    top: 60%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 40%;
    z-index: 20;

    /*border-top: 4px solid #fff;*/
}

#outputarea {
    margin: 0;
    position: absolute;
    top: 60%;
    bottom: 0;
    left: 50%;
    right: 0;
    width: 50%;
    height: 40%;
    background-color: #001b58;
    z-index: 20;


    /*border-top: 4px solid #fff;*/
} 
/* ENDS Structural bigwigs */

noscript h2
{
    padding-left: 20px;
}

noscript p
{
    padding-left: 20px;
    padding-top: 8px;
}

#mdetect {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

@media only screen and (max-width: 740px) {
  #mdetect { display: none; }
}

#phonebad
{
    margin: 0;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 999;
    display: none;
}

#phonebad > #phonebadurl
{
    padding: 20px;
}

#drawer {
    position: fixed;
    margin: 0;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 500px;
    height: 58%;
    background-color: #d9d9d9;
    background-repeat: repeat;
    background-image: url('../images/clothbg.png');
    z-index: 10;
    padding: 10px;
    display: none;
}

#drawer h2
{
    padding: 0px;
    margin: 0px
}

.error
{
    font-weight: bold;
    color: #EE3233;
}

#rack {
    position: fixed;
    margin: 0;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 500px;
    height: 58%;
    z-index: 10;
    padding: 10px;
    display: none;
    background: #e9dfc4;
    background: -moz-linear-gradient(left, #e9dfc4 0%, #e9dfc4 1%, #ede3c8 2%, #ede3c8 24%, #ebddc3 25%, #e9dfc4 48%, #ebddc3 49%, #e6d8bd 52%, #e6d8bd 53%, #e9dbc0 54%, #e6d8bd 55%, #e6d8bd 56%, #e9dbc0 57%, #e6d8bd 58%, #e6d8bd 73%, #e9dbc0 74%, #e9dbc0 98%, #ebddc3 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e9dfc4), color-stop(1%, #e9dfc4), color-stop(2%, #ede3c8), color-stop(24%, #ede3c8), color-stop(25%, #ebddc3), color-stop(48%, #e9dfc4), color-stop(49%, #ebddc3), color-stop(52%, #e6d8bd), color-stop(53%, #e6d8bd), color-stop(54%, #e9dbc0), color-stop(55%, #e6d8bd), color-stop(56%, #e6d8bd), color-stop(57%, #e9dbc0), color-stop(58%, #e6d8bd), color-stop(73%, #e6d8bd), color-stop(74%, #e9dbc0), color-stop(98%, #e9dbc0), color-stop(100%, #ebddc3));
    background: -webkit-linear-gradient(left, #e9dfc4 0%, #e9dfc4 1%, #ede3c8 2%, #ede3c8 24%, #ebddc3 25%, #e9dfc4 48%, #ebddc3 49%, #e6d8bd 52%, #e6d8bd 53%, #e9dbc0 54%, #e6d8bd 55%, #e6d8bd 56%, #e9dbc0 57%, #e6d8bd 58%, #e6d8bd 73%, #e9dbc0 74%, #e9dbc0 98%, #ebddc3 100%);
    background: -o-linear-gradient(left, #e9dfc4 0%, #e9dfc4 1%, #ede3c8 2%, #ede3c8 24%, #ebddc3 25%, #e9dfc4 48%, #ebddc3 49%, #e6d8bd 52%, #e6d8bd 53%, #e9dbc0 54%, #e6d8bd 55%, #e6d8bd 56%, #e9dbc0 57%, #e6d8bd 58%, #e6d8bd 73%, #e9dbc0 74%, #e9dbc0 98%, #ebddc3 100%);
    background: -ms-linear-gradient(left, #e9dfc4 0%, #e9dfc4 1%, #ede3c8 2%, #ede3c8 24%, #ebddc3 25%, #e9dfc4 48%, #ebddc3 49%, #e6d8bd 52%, #e6d8bd 53%, #e9dbc0 54%, #e6d8bd 55%, #e6d8bd 56%, #e9dbc0 57%, #e6d8bd 58%, #e6d8bd 73%, #e9dbc0 74%, #e9dbc0 98%, #ebddc3 100%);
    background: linear-gradient(to right, #e9dfc4 0%, #e9dfc4 1%, #ede3c8 2%, #ede3c8 24%, #ebddc3 25%, #e9dfc4 48%, #ebddc3 49%, #e6d8bd 52%, #e6d8bd 53%, #e9dbc0 54%, #e6d8bd 55%, #e6d8bd 56%, #e9dbc0 57%, #e6d8bd 58%, #e6d8bd 73%, #e9dbc0 74%, #e9dbc0 98%, #ebddc3 100%);
    background-size: 120px;
    background-repeat: repeat;
}

#rack h2
{
    padding: 0px;
    margin: 0px
}

#weapons > li
{

    list-style: none;
    margin: 10px;
    display: none;

}


#weapons > li > img, .award-img
{
    width: 120px;
    height: 120px;
    border-radius: 25px;
    box-shadow: 3px 3px 5px 2px #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}


.exercise
{
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.exercise:before
{
    content: 'Try this';
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 10px;
    font-family: 'Russo One', sans-serif;
    font-size: 0.9em;
    border-bottom: 1px solid #000;
}

.exercise:after
{
    content: '\25A2';
    position: absolute;
    left: 0;
    top: 40px;
}

.exercisecomplete:after
{
    content: '\2713';
    color: #00FF00;
}

.chaptermarker
{
    list-style: none;
    font-size: 1.2em;
    margin-bottom: 5px;
    margin-top: 10px;
}

#drawer ul
{
    list-style: square;
} 

#drawer ul a
{
    text-decoration: none;
    color: blue;
}

#currentlesson
{
    font-weight: bold;
}

#toplesson a
{
    font-style: oblique;
}

.code
{
    display: inline;
    background-color: #EAEAEA;
    padding: 5px;
    font-family: monospace;
}

.tooltipster-box
{
    background-color: #FFFFFF !important;
}

.tooltip_weapon
{
    color: #000000;
}

.tooltip_weapon h2
{

}

.tooltip_templates 
{ 
    display: none; 
}


.heighttransition
{
    transition: height 2s;
    -webkit-transition: height 2s;  
}

.loadButton
{
    margin-left: 20px;
    margin-top: -22px;
}

.loadButton button
{
    width: 600px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    background: #FFC04C;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    cursor: pointer;
}

.btnNext
{
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 24px;
    background: #00d498;
    padding: 5px 25px 5px 25px;
    text-decoration: none;
    cursor: pointer;
}

.btnNext:hover {
    background: #148c68;
    background-image: -webkit-linear-gradient(top, #148c68, #00bf8f);
    background-image: -moz-linear-gradient(top, #148c68, #00bf8f);
    background-image: -ms-linear-gradient(top, #148c68, #00bf8f);
    background-image: -o-linear-gradient(top, #148c68, #00bf8f);
    background-image: linear-gradient(to bottom, #148c68, #00bf8f);
    text-decoration: none;
}

.btnAction
{
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 24px;
    background: #E4287C;
    padding: 5px 25px 5px 25px;
    text-decoration: none;
    cursor: pointer;
}

.btnAction:hover {
    background: #C12283;
    text-decoration: none;
}

.editor
{
    font-size: 14px !important;
}

#content
{
    padding: 30px;
}

.inlineeditor
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#controls {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10%;
}

.controlbutton
{
    margin: 0;
    position: absolute;
    top: -5px;
    bottom: 0;
    width: 23%;
    height: 100%;
    right: 0;

    min-width: 100px;
    background: #009933;
    border: none;
    outline: none;
    color: white;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: 0 5px 0px #009933;
    border-bottom: 2px solid #008a2e;

    cursor: pointer;
}

.controlbutton:hover {
    background: #00802b;
    box-shadow: 0 4px 1px #00802b;
    border-bottom: 2px solid #007025;
   /* transition: all 0.01s ease-in;*/
    transform: translateY(1px);
}
.controlbutton:active {
   /* transition: all 0.01s ease-in;*/
    transform: translateY(4px);
    border-bottom-width: 2px;
    box-shadow: none;
}

#run
{
    left: 1%;
}

#clear
{
    left: 25%;
}

#history
{
    left: 49%;
}

#weaponrack
{
    left: 73%;
}


#topheader
{
    width: 100%;
    height: 20px;
    margin: 0;
}

#topheader h1, #phonebad h1
{
    display: inline-block;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    margin: 0px;
    margin-left: 20px;
    width: 50%;
}

#user
{
    display: inline-block;
    width: 45%;
    text-align: right;
    position: relative;
}

#loginregister
{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

#loginregister_screen
{
    width: 500px;
    height: 260px;
    background-color: #fff;
    border: 2px solid #000000;
    position: absolute;
    right: 0px;
    top: 50px;
    z-index: 999;
    text-align: left;
    padding: 20px;
    display: none;
}

.switchregister
{
    display: block;
    color: blue;
    text-decoration: underline;
}

.switchregister a
{

    cursor: pointer;
}

#loginregister_register
{
    display: none;
}

.loginregister_header
{
    font-size: 2em;
}

#loginregister_screen label, input
{
    display: block;
}

#loginregister_screen label, input[type="submit"]
{
    margin-top: 20px;
}




#output
{
    margin: 0;
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 90%;
    padding: 20px;
    color: #fff;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}