    body {
        overflow: hidden;
    }

    #editor {
        margin: 0;
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 0;
        right: 0;
        width: 50%;
        height: 50%;
    }

    #outputarea {
        margin: 0;
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 50%;
        right: 0;
        width: 50%;
        height: 50%;
        background-color: #000;
    } 

    #instruction {
        margin: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 50%;
        background-color: #FFEFD5;
        overflow: auto;
    }

    #controls {
        margin: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 10%;
        background-color: #000;
    }

    #run
    {
        margin: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 20%;
        height: 100%;
        background-color: #55aa00;
    }

    #clear
    {
        margin: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 20%;
        right: 0;
        width: 20%;
        height: 100%;
        background-color: #55aa00;
    }

    #output
    {
        margin: 0;
        position: absolute;
        top: 10%;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 90%;
        padding: 20px;
        color: #fff;
        background-color: #000;
    }