

body {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

#editor {
    margin: 0;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 50%;
}

#topheader
{
    width: 100%;
    height: 40px;
    margin: 0;
}

#topheader h1
{
    display: inline-block;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    margin: 0px;
    margin-left: 20px;
}

#outputarea {
    margin: 0;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    width: 50%;
    height: 50%;
    background-color: #001b58;
} 

#instruction {
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background-color: #FFEFD5;
    overflow-x: hidden;
    overflow-y: scroll;
}

#controls {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10%;
}

#run
{
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: #55aa00;
}

#clear
{
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: #55aa00;
}

#output
{
    margin: 0;
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 90%;
    padding: 20px;
    color: #fff;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}